*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea
/build
/captures
/dokka
build/
demo/iosApp/Podfile.lock
demo/iosApp/Pods/*
demo/iosApp/iosApp.xcworkspace/*
demo/iosApp/iosApp.xcodeproj/*
!demo/iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
publish.sh
.kotlin