*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea
/build
/captures
/dokka
build/
publish.sh
.kotlin

*.log
