name: Publish Documentation
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  documentation:
    name: "Publish Documentation"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: setup-java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Generate documentation
        run: ./gradlew dokkaGenerate

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dokka/