name: Trigger MKB Preview

on:
  push:
    branches:
      - main
      - preview
    paths-ignore:
      - '**.md'
      - '.github/**'
      - 'art/**'
      - 'LICENSE'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/**'
      - 'art/**'
      - 'LICENSE'

jobs:
  trigger-upstream-preview:
    name: Trigger MKB Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get commit hash
        id: get_commit_hash
        run: echo "commit_hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Trigger upstream preview workflow
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.MATERIALKOLOR_BUILDER_TRIGGER_TOKEN }}
          repository: jordond/MaterialKolorBuilder
          event-type: trigger-upstream-preview
          client-payload: |
            {
              "commit_hash": "${{ steps.get_commit_hash.outputs.commit_hash }}",
              "pr_number": "${{ github.event.pull_request.number || '' }}"
            }